* {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal
}

a {
	text-decoration: none;
	color: #646464;
}

a:hover {
	color: #044ea3;
}

.clear {
	clear: both;
}

hr {
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #dedede;
}

.float_bg {
	background: url(../images/qq_3.gif) repeat-y left top;
	width: 118px;
	padding: 2px 0;
	float: left;
}

.title {
	width: 100%;
	float: left;
	margin: 10px 0 0 0;
	border-bottom: 1px dotted #ccc;
	line-height: 25px;
}

.title span {
	font-size: 14px;
	font-weight: bold;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.productList {
	width: 100%;
	float: left;
}

.productList ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 870px;
}

.productList li {
	margin: 10px 16.66px 10px 0;
	padding: 0px;
	list-style-type: none;
	text-align: center;
	float: left;
	width: 200px;
	height: 180px;
	display: inline;
	line-height: 25px;
	overflow: hidden;
	font-size: 14px;
}

.productList li img {
	width: 200px;
	height: 150px;
	float: left;
}

.productTitle {
	line-height: 35px;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
}

.productImg {
	width: 100%;
	text-align: center;
	float: left;
	margin: 10px auto;
}

.productImg img {
	max-width: 100%;
}

.productDesc {
	line-height: 200%;
	padding: 10px 0;
	width: 100%;
	float: left;
}

.productDesc img {
	max-width: 100%;
}

/*end*/

/*news*/
.art_list {
	width: 100%;
	float: left;
	padding: 20px 0;
	border-bottom: 1px dotted #ccc;
}

.art_img {
	float: left;
	width: 20%;
}

.art_img img {
	width: 100%;
}

.art_right {
	float: right;
	width: 78%;
}

.art_title {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

.art_author {
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: #666;
}

.art_author span {
	margin: 0 10px 0 0;
}

.art_des {
	color: #666;
	line-height: 25px;
}

.articleList {
	width: 100%;
	float: left;
}

.articleList ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.articleList li {
	margin: 0px;
	padding: 0 0 0 10px;
	list-style-type: none;
	border-bottom: 1px dotted #ccc;
	background: url(../images/li_0.png) no-repeat left center;
	line-height: 35px;
}

.time {
	color: #959595;
	float: right;
}

.articleTitle {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.articleAuthor {
	text-align: center;
	padding: 7px 0px;
	border-bottom: 1px dotted #ccc;
}

.articleauthor span {
	margin: 0px 6px;
	font-size: 9pt;
}

.articleInfo {
	width: 100%;
	padding: 10px 0;
	line-height: 200%;
}

.articleInfo img {
	max-width: 100%;
}

.pageUpDown {
	padding-top: 10px;
	text-align: left;
	line-height: 30px;
}

/*end*/

/*feedback*/
.f_list {
	width: 100%;
	float: left;
	margin: 5px auto;
	clear: both;
}

.f_list .fl_l {
	float: left;
	width: 20%;
	text-align: right;
}

.f_list .fl_r {
	float: left;
	width: 80%;
}

.input_text {
	width: 90%;
	border: 1px solid #ccc;
	line-height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.w100 {
	width: 100px;
}

.btn {
	width: 60px;
	font-size: 1.1em;
	background: #EF5F21;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #fff;
	border: none;
	outline: none;
	-webkit-appearance: none;
	color: #fff;
}

.btn:hover {
	background: #2d2d2d;
	color: #fff;
}

/*end */
.in {
	text-align: center;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination>li {
	display: inline;
}

.pagination>li>a,
.pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li:first-child {}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}

@media screen and (min-width: 641px) {
	body {
		font-size: 12px;
		color: #000;
		font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
		background-color: #ffffff;
		min-width: 1150px;
	}

	/*页面框架*/
	.header {
		width: 100%;
		height: 100px;
		font-family: '微软雅黑';
	}

	.footer {
		color: #fff;
		width: 100%;
		font-family: '微软雅黑';
		background: #2e313a;
		text-align: center;
		padding: 15px 0;
	}

	.warp {
		width: 1150px;
		margin: 0 auto;
	}

	.banner {
		width: 100%;
		height: 300px;
		position: relative;
		overflow: hidden;
		background: #eee;
	}

	.nbanList {
		position: absolute;
		left: 50%;
		margin-left: -960px;
		height: 300px
	}

	.main {
		font-family: '微软雅黑';
		font-weight: normal;
		padding-bottom: 60px;
		overflow: hidden;
	}

	.position {
		height: 40px;
		text-align: left;
		font-size: 12px;
		font-family: '微软雅黑';
		border-bottom: 1px solid #e9e9e9;
	}

	.position ul {
		width: 1150px;
		text-align: left;
		font-size: 12px;
		line-height: 40px;
		margin: 0 auto;
		color: #061f3e;
	}

	.position ul>li {
		float: left;
		margin-right: 10px;
	}

	.position ul>li>a {
		color: #061f3e;
	}

	.position ul>li>a:hover {
		text-decoration: underline;
	}

	/*翻页*/
	.pages {
		overflow: hidden;
		text-align: right;
		padding: 10px 0 30px 0;
		width: 1150px;
		margin: 0 auto;
	}

	.pages a {
		display: inline-block;
		color: #717171;
		background: url(../images/pages.png) no-repeat -30px 0;
		*display: inline;
		*zoom: 1;
		margin-left: -4px;
		width: 26px;
		margin-right: 3px;
		height: 27px;
		line-height: 23px;
		font-size: 12px;
		text-align: center
	}

	.pages a.cur {
		background: url(../images/pages.png) no-repeat -60px 0;
		color: #fff;
	}

	.pages a:hover {
		background: url(../images/pages.png) no-repeat;
	}

	/*头部*/
	.only-mobile {
		display: none !important;
	}

	.header .head-top {
		height: 100px;
		overflow: hidden;
	}

	.head-top .logo {
		float: left;
		margin: 10px auto;
	}

	.head-top .logo img {
		float: left;
		height: 80px;
	}

	.logo span {
		font-size: 32px;
		font-weight: 700;
		line-height: 70px;
	}

	.head-top .head-top-r {
		font-size: 12px;
		float: right;
		margin-right: 0px;
		height: 38px;
		line-height: 38px;
		background: #2e313a;
		width: 182px;
		border-radius: 10px;
		text-align: center;
		margin-top: 29px;
	}

	.head-top-r ul>li {
		display: inline;
		margin: 0 5px;
		color: #fff;
	}

	.head-top-r ul>li>a {
		color: #fff;
		display: inline-block;
		padding-left: 8px;
	}

	.head-top-r ul>li>a:hover {
		text-decoration: underline;
	}

	.head-top-r ul>li>i {
		display: inline-block;
		vertical-align: sub;
	}

	.ht-r1 {
		background-position: -142px 0;
		width: 16px;
		height: 20px;
	}

	.ht-r2 {
		background-position: -182px 0;
		width: 16px;
		height: 20px;
	}

	.ht-r3 {
		background-position: -218px 0;
		width: 16px;
		height: 20px;
	}

	/*导航*/
	.head-bottom {
		height: 40px;
		line-height: 40px;
		top: 0;
		left: 0px;
		right: 0;
		font-size: 14px;
		background: #044ea3;
		width: 100%;
		font-family: '微软雅黑';
		display: block;
	}

	.head-nav {
		width: 1150px;
		margin: 0 auto;
	}

	.head-nav ul>li {
		float: left;
		width: 12.5%;
		text-align: center;
		position: relative;
	}

	.head-nav ul>li:hover {
		background: #2e313a no-repeat center bottom;
	}

	.head-nav ul>li.active {
		background: #2e313a no-repeat center bottom;
	}

	.head-nav ul>li>a {
		color: #fff;
	}

	.head-nav ul>li>a:hover {
		color: #fff;
	}

	.head-nav ul>li ul {}

	.head-nav ul>li ul li {
		width: 100%;
	}

	.head-bottom-r {
		float: right;
		margin-right: 10px;
	}

	.head-bottom-r>p>a {
		color: #fff;
		display: inline-block;
		padding-right: 3px;
	}

	.head-bottom-r>p>.ht-r5 {
		background-position: -283px 0;
		width: 16px;
		height: 20px;
		display: inline-block;
		vertical-align: sub;
	}

	.shade {
		display: none;
		width: 100%;
		background: #2e313a;
		position: absolute;
		top: 40px;
		left: 0;
		z-index: 50;
	}

	.fl:hover ul {
		display: block;
	}

	.fl .only:hover {
		background-color: #ccc;
	}

	.fl .only:hover a {
		color: #000;
		font-weight: 800;
	}

	.brand-list {
		overflow: hidden;
		margin: 34px auto;
	}

	.brand-list .brand-list-l {
		overflow: hidden;
		float: left;
		width: 550px;
		margin: 0 0 0 25px;
		border-right: 1px solid #e9e9e9;
	}

	.brand-list-l img {
		float: left;
		width: 510px;
		text-align: left;
		line-height: 2;
	}

	.brand-list-l ul>li {
		float: left;
		width: 510px;
		text-align: left;
		margin-left: 8px;
		line-height: 18px;
		color: #646464;
		font-size: 12px;
	}

	.brand-list-l ul>li:hover {
		background: none;
	}

	.brand-list-l ul>li>a {
		background: #b60005;
		color: #fff;
		width: 90px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin: 29px 0 0 0;
		display: block;
	}

	.brand-list-l ul>li>a:hover {
		background: #2e313a;
		color: #fff;
	}

	.brand-list .brand-list-r {
		float: left;
		width: 510px;
		margin: 0 0 0 40px;
	}

	.brand-list-r img {
		float: left;
		width: 510px;
		text-align: left;
		line-height: 2;
	}

	.brand-list-r ul>li {
		float: left;
		width: 510px;
		text-align: left;
		margin-left: 10px;
		line-height: 18px;
		color: #646464;
		font-size: 12px;
	}

	.brand-list-r ul>li:hover {
		background: none;
	}

	.brand-list-r ul>li>a {
		background: #b60005;
		color: #fff;
		width: 90px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin: 11px 0 0 0;
		display: block;
	}

	.brand-list-r ul>li>a:hover {
		background: #2e313a;
		color: #fff;
	}

	/*底部*/
	.foo-nav {
		width: 100%;
		text-align: center;
		line-height: 25px;
	}

	.foo-nav ul {}

	.foo-nav li {
		display: inline;
		color: #fff;
	}

	.foo-nav li a {
		color: #fff;
		margin: 0 10px;
	}

	.foo-con {
		padding: 0px 0 0 0;
		text-align: center;
		font-size: 12px;
		color: #fff;
		line-height: 25px;
	}

	.foo-con a {
		color: #fff;
	}

	.foo-link {
		text-align: center;
		line-height: 25px;
	}

	.foo-link li {
		display: inline;
		margin: 0 5px;
	}

	.foo-link li a {
		color: #fff;
	}

	/*首页产品*/
	.content {
		font-family: '微软雅黑';
		font-weight: normal;
		padding-top: 50px;
		padding-bottom: 70px;
	}

	.pro-center {
		overflow: hidden;
		width: 1150px;
		margin: 0 auto;
		color: #fff;
		font-size: 12px;
	}

	.pro_bg {
		width: 360px;
		height: 235px;
		background: url(../images/pro_bg.png) repeat left top;
		position: absolute;
		left: 0px;
		top: 0px;
		display: none;
	}

	.pro_bg span {
		width: 100%;
		height: 235px;
		display: block;
		background: url(../images/s_ico.png) no-repeat center center;
	}

	.pro-center h6 {
		font-size: 18px;
		color: #fff;
		text-align: left;
		line-height: 30px;
		font-weight: 700;
		width: 330px;
		float: left;
	}

	.pro-center section div {
		max-height: 50px;
		line-height: 25px;
		overflow: hidden;
		width: 330px;
		float: left;
	}

	.pro-center a {
		color: #fff;
	}

	.pro-center img {
		width: 360px;
		height: 235px;
		float: left;
	}

	.pro-con {
		width: 1185px;
	}

	.pro-center-l {
		width: 360px;
		float: left;
		margin: 0 35px 0 0;
	}

	.pro-center-l .img {
		position: relative;
		width: 360px;
		height: 235px;
	}

	.pro-center-l section {
		float: left;
		width: 345px;
		background: #044ea3;
		padding: 15px 0 15px 15px;
	}

	.pro-center-l ul>li {
		float: left;
		position: relative;
		line-height: 24px;
		margin-right: 10px;
	}

	.pro-center-m {
		width: 360px;
		float: left;
		margin: 0 35px 0 0;
	}

	.pro-center-m section {
		float: left;
		width: 360px;
		background: #044ea3;
		padding: 15px 0 0 15px;
		height: 108px;
		overflow: hidden;
	}

	.pro-center-m ul>li {
		float: left;
		position: relative;
		line-height: 24px;
		margin-right: 10px;
	}

	.pro-center-r {
		width: 360px;
		float: left;
		margin: 0 0 0 0;
	}

	.pro-center-r section {
		float: left;
		width: 360px;
		background: #044ea3;
		padding: 15px 0 15px 15px;
	}

	.pro-center-r ul>li {
		float: left;
		position: relative;
		line-height: 24px;
		margin-right: 10px;
	}

	/*首页介绍+新闻*/
	.txt {
		background: #f4f4f4;
		font-family: '微软雅黑';
		padding-top: 40px;
		padding-bottom: 40px;
		overflow: hidden;
	}

	.txt-content {
		width: 1150px;
		margin: 0 auto;
		overflow: hidden;
	}

	.txt-content-l {
		width: 565px;
		float: left;
		padding-bottom: 15px;
		border-bottom: 1px solid #cdcdcd;
	}

	.txt-content-l h3 {
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		color: #323232;
		float: left;
		width: 565px;
		margin-bottom: 30px;
	}

	.txt-content-l img {
		width: 565px;
		height: 290px;
		float: left;
		margin: 0 0 10px 0;
	}

	.txt-content-l p {
		float: left;
		color: #646464;
		font-size: 12px;
		line-height: 23px;
		text-align: left;
		width: 565px;
	}

	.txt-content-r {
		width: 565px;
		float: left;
		margin-left: 20px;
		height: 560px;
	}

	.txt-content-r h3 {
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		color: #323232;
		float: left;
		width: 565px;
		margin-bottom: 30px;
		height: 24px;
	}

	.txt-content-r ul {
		width: 565px;
		border-bottom: 1px solid #cdcdcd;
		margin: 20px 0 0 0;
		height: 110px;
		overflow: hidden;
	}

	.txt-content-r ul>li {
		float: left;
		height: 90px;
		overflow: hidden;
	}

	.date {
		width: 62px;
		height: 86px;
	}

	.date h1 {
		color: #FFF;
		height: 46px;
		font-size: 24px;
		line-height: 46px;
		background: #2e313a;
		text-align: center;
		width: 62px;
	}

	.date h2 {
		color: #FFF;
		width: 62px;
		height: 40px;
		font-size: 14px;
		line-height: 40px;
		background: #044ea3;
		text-align: center;
	}

	.nr {
		width: 480px;
		height: 86px;
		line-height: 24px;
		font-size: 12px;
		color: #646464;
		float: left;
		margin: -5px 0 0 15px;
	}

	.nr a {
		width: 480px;
		float: left;
		font-size: 14px;
		color: #323232;
		font-weight: 700;
	}

	.nr a:hover {
		text-decoration: underline;
		color: #044ea3;
	}

	/*首页焦点图*/
	.flash {
		width: 100%;
		overflow: hidden;
		height: 400px;
		position: relative;
	}

	.banList {
		position: absolute;
		left: 50%;
		margin-left: -960px;
		height: 400px
	}

	.banList li {
		height: 400px;
		opacity: 0;
		position: absolute;
		transform: scale(0);
		transition: transform 0.5s ease 0s, opacity 1.5s ease 0s;
		z-index: 1;
	}

	.banList li.active {
		opacity: 1;
		transform: scale(1);
		z-index: 2;
	}

	.fomW {
		position: absolute;
		bottom: 20px;
		left: 50%;
		height: 20px;
		z-index: 9;
		width: 1000px;
		margin-left: -500px
	}

	.jsNav {
		text-align: center;
	}

	.jsNav a {
		display: inline-block;
		background: #2e313a;
		width: 60px;
		height: 6px;
		margin: 0 5px;
	}

	.jsNav a.current {
		background: #044ea3;
		cursor: pointer
	}

	/* 新闻列表 */

	.news-list {
		width: 1150px;
		margin: 20px auto;
		display: block;
	}

	.news-list>ul {
		overflow: hidden;
		font-family: '微软雅黑';
		display: block;
	}

	.news-list>ul>li {
		float: left;
		font-size: 14px;
		color: #323232;
		text-align: right;
		width: 1150px;
		line-height: 48px;
	}

	.news-list>ul>li .ldt {
		width: 120px;
		float: right;
		text-align: right;
		color: #666;
	}

	.news-list>ul>li .dian {
		height: 48px;
		width: 10px;
		background: url(../images/dian.jpg);
		float: left;
	}

	.news-list>ul>li>a {
		color: #323232;
		text-align: left;
	}

	.news-list>ul>li>a .lbt {
		display: block;
		width: 500px;
		float: left;
		text-decoration: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: inline;
		margin-left: 20px;
	}

	.news-list>ul>li>a:hover {
		color: #044ea3;
		text-align: left;
		text-decoration: underline;
	}

	/* 新闻详情 */
	.warp h2 {
		font-size: 18px;
		text-align: center;
		line-height: 18px;
		color: #323232;
		font-weight: 700;
	}

	.news-detail {
		padding-top: 20px;
		color: #646464;
		font-size: 14px;
	}

	.news-detail p {
		padding-bottom: 40px;
		line-height: 24px;
	}

	.news-detail img {
		margin: 0 auto;
	}

	.btn-news {
		display: block;
		margin: 0 auto;
	}

	/* 关于我们 */
	.company {
		width: 1150px;
		margin: 0 auto;
		font-family: '微软雅黑';
	}

	.bt {
		font-size: 18px;
		color: #044ea3;
		background: url(../images/bt.jpg) no-repeat 0px 4px;
		line-height: 24px;
		height: 24px;
		padding-left: 18px;
		font-weight: bold;
	}

	.bt a {
		color: #044ea3;
	}

	.comp-intro {
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 200%;
		font-size: 14px;
		color: #646464;
		min-height: 300px;
	}

	.comp-intro img {
		max-width: 100%;
	}

	/*联系我们*/
	.contact {
		width: 1150px;
		margin: 0 auto;
		font-family: '微软雅黑';
	}

	.contact-l {
		float: left;
		width: 500px;
	}

	.contact-l>ul {
		overflow: hidden;
	}

	.contact-l>ul>li {
		float: left;
		width: 500px;
		margin-bottom: 40px;
	}

	.contact-l>ul>li>h1 {
		font-size: 18px;
		color: #044ea3;
		background: url(../images/bt.jpg) no-repeat 0px 4px;
		line-height: 24px;
		height: 24px;
		padding-left: 18px;
		margin-bottom: 30px;
	}

	.contact-l>ul>li>h2 {
		font-size: 14px;
		color: #646464;
		line-height: 30px;
	}

	.contact-l>ul>li>p {
		font-size: 12px;
		color: #999999;
		line-height: 30px;
	}

	.contact-r {
		float: right;
		width: 500px;
	}

	/* 下载中心 */
	.download {
		width: 1150px;
		margin: 0 auto;
		font-family: '微软雅黑';
	}

	.download-list {
		width: 270px;
		float: left;
	}

	.download-list h1 {
		width: 270px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/listbg.jpg) no-repeat;
		padding-left: 30px;
	}

	.download-list>ul {
		font-size: 14px;
		border: 1px solid #e9e9e9;
		float: left;
		padding: 10px 0 10px 0;
	}

	.download-list>ul>li {
		float: left;
		width: 200px;
		list-style: url(../images/jt.jpg);
		line-height: 36px;
		padding-left: 5px;
		margin-left: 25px;
	}

	.download-list>ul>li>a {
		color: #0b60a1;
	}

	.download-list>ul>li>a:hover {
		text-decoration: underline;
	}

	.download-table {
		width: 850px;
		float: right;
	}

	.download-table h1 {
		font-size: 18px;
		color: #044ea3;
		background: url(../images/bt.jpg) no-repeat 0px 22px;
		line-height: 60px;
		height: 60px;
		padding-left: 18px;
	}

	.download-table>ul {
		overflow: hidden;
		border: 1px solid #e7e7e7;
		border-bottom: none;
	}

	.download-table>ul>li {
		height: 54px;
		line-height: 54px;
		font-size: 14px;
		color: #646464;
		border-bottom: 1px solid #e7e7e7
	}

	.download-table>ul>li>a {
		float: left;
	}

	.download-table>ul>li>a.title {
		width: 780px;
		padding-left: 20px;
		color: #646464;
		border-right: 1px solid #e7e7e7
	}

	.download-table>ul>li>a.dow {
		text-indent: -9999px;
		width: 67px;
		background: url(../images/xiazai.jpg) no-repeat center;
		height: 54px;
	}

	/* 人才招聘 */
	.recruit {
		width: 1150px;
		margin: 0 auto;
		font-family: '微软雅黑';
	}

	.recruit-l {
		width: 270px;
		float: left;
	}

	.recruit-list {
		width: 270px;
		float: left;
	}

	.recruit-list h1 {
		width: 270px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/listbg.jpg) no-repeat;
		padding-left: 30px;
	}

	.recruit-list>ul {
		font-size: 14px;
		border: 1px solid #e9e9e9;
		float: left;
		padding: 10px 0 10px 0;
	}

	.recruit-list>ul>li {
		float: left;
		width: 200px;
		list-style: url(../images/jt.jpg);
		line-height: 36px;
		padding-left: 5px;
		margin-left: 25px;
	}

	.recruit-list>ul>li>a {
		color: #0b60a1;
	}

	.recruit-list>ul>li>a:hover {
		text-decoration: underline;
	}

	.recruit-add {
		width: 270px;
		float: left;
		margin-top: 20px;
	}

	.recruit-add h1 {
		width: 270px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/listbg.jpg) no-repeat;
		padding-left: 30px;
	}

	.recruit-add>ul {
		font-size: 12px;
		border: 1px solid #e9e9e9;
		float: left;
		padding: 10px 0 10px 0;
	}

	.recruit-add>ul>li {
		float: left;
		width: 200px;
		line-height: 36px;
		padding-left: 5px;
		margin-left: 25px;
		color: #646464;
	}

	.recruit-r {
		width: 850px;
		float: right;
	}

	.recruit-r h1 {
		font-size: 18px;
		color: #044ea3;
		background: url(../images/bt.jpg) no-repeat 0px 22px;
		line-height: 60px;
		height: 60px;
		padding-left: 18px;
		float: left;
		width: 100%;
	}

	.recruit-r p {
		font-size: 14px;
		color: #646464;
		line-height: 30px;
		padding-left: 18px;
		float: left;
		width: 100%;
	}

	.recruit-r .fenlei {
		font-size: 14px;
		color: #646464;
		line-height: 34px;
		font-weight: 700;
		float: left;
		width: 100%;
	}

	/* 风景旅游 */
	.pro {
		width: 1150px;
		margin: 0 auto;
		font-family: '微软雅黑';
	}

	.pro-l {
		width: 270px;
		float: left;
	}

	.search {
		background-color: #f5f5f5;
		padding: 0 30px 10px 10px;
		margin-bottom: 20px;
	}

	.sideTitle {
		height: 60px;
		background: url(../images/sidetitle.png) no-repeat left center;
		font-size: 18px;
		padding-left: 20px;
		line-height: 60px;
		color: #fff;
	}

	.search .sideTitle {
		color: #044ea3
	}

	.search-box {
		height: 40px;
		background: url("../images/search-input.png") no-repeat left center;
		position: relative;
		left: 10px;
	}

	.search-input {
		width: 174px;
		border: none;
		padding-left: 10px;
		height: 40px;
		background: none;
		vertical-align: top
	}

	.search-btn {
		width: 52px;
		height: 40px;
		background: url("../images/search-btn.png") no-repeat;
		border: none
	}

	.sub-side-ul {
		display: none
	}

	.sub-side-ul>li {
		padding-left: 18px;
		background: url("../images/sub-li.gif") no-repeat left 13px;
		font-size: 12px;
	}

	.sub-side-ul>li>a {
		color: #646464;
	}

	.sub-side-ul>li>a:hover {
		color: #0b60a1;
		text-decoration: underline;
	}

	.pro-list {
		width: 270px;
		float: left;
		font-weight: bold;
	}

	.pro-list h2 {
		width: 270px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/listbg.jpg) no-repeat;
		padding-left: 30px;
	}

	.pro-list>ul {
		font-size: 14px;
		border: 1px solid #e9e9e9;
		float: left;
		padding: 10px 0 10px 0;
	}

	.pro-list>ul>li {
		float: left;
		width: 200px;
		list-style: url(../images/jt.jpg);
		line-height: 36px;
		padding-left: 5px;
		margin-left: 25px;
	}

	.pro-list>ul>li>a {
		color: #0b60a1;
	}

	.pro-list>ul>li>a:hover {
		text-decoration: underline;

	}

	.pro-add {
		width: 270px;
		float: left;
		margin-top: 20px;
	}

	.pro-add h1 {
		width: 270px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/listbg.jpg) no-repeat;
		padding-left: 30px;
	}

	.pro-add>ul {
		font-size: 12px;
		border: 1px solid #e9e9e9;
		float: left;
		padding: 10px 0 10px 0;
	}

	.pro-add>ul>li {
		float: left;
		width: 200px;
		line-height: 36px;
		padding-left: 5px;
		margin-left: 25px;
		color: #646464;
	}

	.pro-add {
		width: 270px;
		float: left;
		margin-top: 20px;
	}

	.pro-add h3 {
		width: 270px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/listbg.jpg) no-repeat;
		padding-left: 30px;
	}

	.pro-add>ul {
		font-size: 12px;
		border: 1px solid #e9e9e9;
		float: left;
		padding: 10px 0 10px 0;
	}

	.pro-add>ul>li {
		float: left;
		width: 200px;
		line-height: 36px;
		padding-left: 5px;
		margin-left: 25px;
		color: #646464;
	}

	.pro-r {
		width: 850px;
		float: right;
	}

	.pro-logo {
		float: left;
		width: 100%;
		margin-left: 20px;
	}

	.pro h1 {
		font-size: 18px;
		color: #044ea3;
		background: url(../images/bt.jpg) no-repeat 0px 12px;
		line-height: 40px;
		height: 40px;
		padding-left: 18px;
		float: left;
		width: 100%;
		margin-top: 10px;
		/* [disabled]margin-bottom: 20px;
*/
	}

	.pro h1 a {
		color: #044ea3;
	}

	.pro p {
		font-size: 14px;
		color: #646464;
		line-height: 24px;
		padding-left: 18px;
		width: 100%;
		float: left;
	}

	.pro .fenlei {
		font-size: 14px;
		color: #646464;
		line-height: 24px;
		font-weight: 700;
		width: 100%;
		float: left;
		margin: 10px 0 5px 0;
	}

	.pro img {
		text-align: left;
		margin: 0 0 5px 0;
	}

	/* 光通信产品列表 */
	.guang {
		width: 1150px;
		margin: 0 auto;
		font-family: '微软雅黑';
	}

	.guang h1 {
		font-size: 18px;
		color: #044ea3;
		background: url(../images/bt.jpg) no-repeat 0px 12px;
		line-height: 40px;
		height: 40px;
		padding-left: 18px;
		float: left;
		width: 100%;
		margin-top: 10px;
	}

	.guang h2 {
		border: 1px solid #cdcdcd;
		float: left;
		width: 335px;
		height: 100px;
		margin-bottom: 8px;
		overflow: hidden;
	}

	.guang>ul {
		width: 380px;
		float: left;
	}

	.guang>ul>li {
		width: 300px;
		float: left;
		font-size: 14px;
		color: #646464;
		line-height: 24px;
		list-style: url(../images/jt.jpg);
		padding-left: 5px;
		margin: 5px 0 5px 15px;
	}

	.guang>ul>li>a {
		color: #646464;
	}

	.guang>ul>li>a:hover {
		text-decoration: underline;
	}

	/* 科研产品列表 */
	.keyan {
		width: 1150px;
		margin: 0 auto;
		font-family: '微软雅黑';
	}

	.keyan-l {
		width: 270px;
		float: left;
	}

	.keyan-m {
		width: 570px;
		float: left;
		margin-left: 20px;
	}

	.keyan-pro h2 {
		width: 570px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/kybg.jpg) no-repeat;
		padding-left: 30px;
	}

	.keyan-pro images {
		width: 160px;
		height: 160px;
		border: 1px solid #e9e9e9;
	}

	.keyan-pro>ul {
		width: 570px;
		font-size: 14px;
		border: 1px solid #cdcdcd;
		float: left;
		padding: 10px 0 10px 0;
	}

	.keyan-pro>ul>li {
		float: left;
		width: 160px;
		height: 190px;
		line-height: 36px;
		margin: 10px 5px 10px 20px;
		text-align: center;
	}

	.keyan-pro>ul>li>a {
		color: #646464;
	}

	.keyan-pro>ul>li>a:hover {
		color: #0b60a1;
		text-decoration: underline;
	}

	.keyan-solution h2 {
		width: 570px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/kybg.jpg) no-repeat;
		padding-left: 30px;
	}

	.keyan-solution images {
		width: 254px;
		height: 170px;
	}

	.keyan-solution>ul {
		width: 570px;
		font-size: 14px;
		border: 1px solid #cdcdcd;
		float: left;
		padding: 10px 0 10px 0;
	}

	.keyan-solution>ul>li {
		float: left;
		width: 254px;
		height: 190px;
		line-height: 36px;
		margin: 10px 0 30px 20px;
		text-align: center;
	}

	.keyan-solution>ul>li>a {
		color: #646464;
	}

	.keyan-solution>ul>li>a:hover {
		color: #0b60a1;
		text-decoration: underline;
	}

	.keyan-r {
		width: 270px;
		float: right;
	}

	.keyan-news h2 {
		width: 270px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/listbg.jpg) no-repeat;
		padding-left: 30px;
	}

	.keyan-news>ul {
		font-size: 14px;
		border: 1px solid #e9e9e9;
		float: left;
		padding: 10px 0 10px 0;
	}

	.keyan-news>ul>li {
		float: left;
		width: 220px;
		background: url(../images/jt.jpg) no-repeat 0 15px;
		list-style-position: inside;
		line-height: 36px;
		padding-left: 16px;
		margin-left: 14px;
		height: 36px;
		overflow: hidden;
	}

	.keyan-news>ul>li>a {
		color: #646464;
	}

	.keyan-news>ul>li>a:hover {
		text-decoration: underline;
	}

	.keyan-download {
		float: left;
		margin: 20px 0 0 0;
	}

	.keyan-download h2 {
		width: 270px;
		height: 60px;
		float: left;
		background: #0b60a1;
		color: #fff;
		font-size: 18px;
		line-height: 60px;
		background: url(../images/listbg.jpg) no-repeat;
		padding-left: 30px;
	}

	.keyan-download>ul {
		font-size: 14px;
		border: 1px solid #e9e9e9;
		float: left;
		padding: 10px 0 10px 0;
	}

	.keyan-download>ul>li {
		float: left;
		width: 220px;
		background: url(../images/jt.jpg) no-repeat 0 15px;
		list-style-position: inside;
		line-height: 36px;
		padding-left: 16px;
		margin-left: 14px;
		height: 36px;
		overflow: hidden;
	}

	.keyan-download>ul>li>a {
		color: #646464;
	}

	.keyan-download>ul>li>a:hover {
		text-decoration: underline;
	}

	.more {
		float: left;
		text-align: right;
		width: 250px;
		height: 36px;
		line-height: 36px;
	}

	.more a {
		color: #0b60a1;
	}

	.more a:hover {
		text-decoration: underline;
	}

	.japan-table {
		border: 1px solid #cdcdcd;
		color: #646464;
		width: 100%
	}

	.japan-table td {
		padding: 5px 10px;
		border: 1px solid #cdcdcd;
	}

	.nei-table {
		border: 1px solid #cdcdcd;
		color: #646464;
		width: 100%;
		word-break: break-all;
		margin-left: 20px;
		text-align: center;
	}

	.nei-table td {
		padding: 5px 10px;
		border: 1px solid #cdcdcd;
	}

}

@media screen and (max-width: 640px) {
	a {
		display: block;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	.swiper img {
		max-width: 100%;
		height: 100%;
		display: block;
		border: none;
	}

	html {
		font-size: 62.5%
	}

	body {
		font-size: 1.4rem;
		line-height: 2;
		color: #333;
		font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
		background-color: #fff;
		padding-top: 50px;
		width: 100%;
		overflow-x: hidden
	}

	img {
		width: 100%;
	}
	.communiton img{
		width: 8%;
	}
	.flex {
		display: block;
	}

	.head-top-r,
	.logo span {
		display: none;
	}

	.header {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		height: 50px;
		border-top: 1px solid #b2b2b2;
		border-bottom: 1px solid #b2b2b2;
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
		text-align: center;
		background: #fff;
		z-index: 999;
	}

	.nav-btn {
		position: absolute;
		left: 10px;
		top: 14px;
		width: 24px;
		border: none;
		cursor: pointer;
	}

	.logo {
		display: inline-block;
		width: 88px;
		margin-top: 5px;
	}

	.logo img {
		height: 40px;
	}

	.head-bottom {
		position: fixed;
		left: 0;
		top: 0;
		width: 110px;
		z-index: 2;
		display: none;
	}

	.head-nav {
		margin: 50 0px;
	}

	.head-nav ul li {
		border-bottom: 1px solid #434343;
		background-color: #434343;
	}

	.head-nav ul li:hover {
		background-color: #ccc;
	}

	.head-nav a {
		color: #fff;
		text-align: center;
	}

	.flash {
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	.banList {
		width: 100%;
		left: 0;
		position: relative;
	}

	.shade {
		display: none;
	}

	.fl:hover .shade {
		display: block;
	}

	.fl:hover .shade {
		display: block;
		opacity: 1;
		transform: scale(1);
		z-index: 1;
	}

	.fomW {
		position: absolute;
		bottom: 10px;
		left: 50%;
		height: 20px;
		-webkit-transform: translateX(-50%);
	}

	.jsNav {
		text-align: center;
		white-space: nowrap
	}

	.jsNav a {
		display: inline-block;
		background: #2e313a;
		width: 30px;
		height: 6px;
		margin: 0 5px;
	}

	.jsNav a.current {
		background: #044ea3;
		cursor: pointer
	}

	.content {
		margin: 10px auto;
	}

	.pro-center {
		width: 100%;
	}

	.pro-center img {
		width: 100%;
	}

	.pro-center section {
		padding: 10px;
	}

	.pro-center h6 {
		font-size: 1.3rem;
		font-weight: bold;
		text-align: center;
		color: #fff
	}

	.pro-center h6 a {
		color: #fff;
	}

	.pro-con {
		margin: 10px;
	}

	.pro-center-l {
		width: 100%;
		margin: 10px auto;
	}

	.pro-center-l section {
		background: #044ea3;
	}

	.pro-center-m section {
		background: #044ea3;
	}

	.pro-center-r section {
		background: #044ea3;
	}

	.txt {
		background: #f4f4f4;
		padding: 10px;
	}

	.txt h3 {
		text-align: center;
		margin: 10px auto;
	}

	.more-box {
		border-top: 1px solid #cdcdcd;
		margin: auto 10px;
		padding-top: 20px;
		text-align: center
	}

	.more-btn {
		padding: 5px 20px;
		background: #044ea3;
		border-radius: 3px;
		color: #fff;
		display: inline-block;
	}

	.index-news-ul {
		margin-bottom: 20px
	}

	.index-news-ul>li {
		display: block
	}

	.index-news-ul>li>a {
		display: -webkit-box;
		color: #323232;
	}

	.index-news-ul>li>a>div:nth-of-type(1) {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-flex: 1
	}

	.index-news-ul>li>a>div:nth-of-type(2) {
		width: 80px;
		color: #646464;
		font-size: 1.2rem;
	}

	.footer {
		color: #fff;
		width: 100%;
		text-align: center;
		background: #2e313a;
		padding: 15px 0;
	}

	.footer a {
		display: inline;
	}

	/*底部*/
	.foo-con {
		padding: 0px 0 0 0;
		text-align: center;
		font-size: 12px;
		color: #fff;
		line-height: 25px;
	}

	.foo-con a {
		color: #fff;
	}

	.art_img {
		width: 100%;
	}

	.art_right {
		width: 100%;
	}

	.company {
		margin: 20px 10px
	}

	.bt {
		font-size: 18px;
		color: #044ea3;
		background: url(../images/bt.jpg) no-repeat 0px 4px;
		line-height: 24px;
		height: 24px;
		padding-left: 18px;
		margin-top: 20px;
	}

	.comp-intro {
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 14px;
		color: #646464;
		line-height: 24px;
		width: 100%;
		float: left;
	}

	.comp-intro img {
		max-width: 100%;
	}

	.comp-intro iframe {
		max-width: 100%;
	}

	.keyan-l,
	.keyan-m {
		margin: 10px
	}

	.search {
		background-color: #f5f5f5;
		padding: 10px;
		margin-bottom: 20px;
	}

	.sideTitle {
		background: url(../images/sidetitle.png) no-repeat left center;
		font-size: 1.5rem;
		padding-left: 20px;
		color: #044ea3;
	}

	.search-box {
		position: relative;
		left: 10px;
	}

	.search-input {
		width: 100%;
		border: 1px solid #e7e7e7;
		padding-left: 10px;
		padding-right: 52px;
		height: 40px;
		background: none;
		vertical-align: top;
		border-radius: 5px;
		background-color: #FFFFFF
	}

	.search-btn {
		width: 52px;
		height: 40px;
		background: url("../images/search-btn.png") no-repeat;
		border: none;
		position: absolute;
		right: 0;
		top: 0
	}

	.sub-side-ul {
		display: none
	}

	.sub-side-ul>li {
		padding-left: 18px;
		background: url("../images/sub-li.gif") no-repeat left 13px;
		font-size: 12px;
	}

	.sub-side-ul>li>a {
		color: #646464;
	}

	.sub-side-ul>li>a:hover {
		color: #0b60a1;
		text-decoration: underline;
	}

	.list-title {
		height: 60px;
		color: #fff;
		font-size: 1.5rem;
		line-height: 60px;
		font-weight: bold;
		background: url(../images/listbg.jpg) no-repeat #0b60a1;
		padding-left: 30px;
	}

	.pro-list>ul,
	.download-list>ul,
	.recruit-list>ul {
		border: 1px solid #e9e9e9;
		padding: 10px 0 10px 0;
		font-size: 1.4rem
	}

	.pro-list>ul>li,
	.download-list>ul>li,
	.recruit-list>ul>li {
		list-style: url(../images/jt.jpg);
		line-height: 36px;
		padding-left: 5px;
		margin-left: 25px;
	}

	.pro-list>ul>li>a,
	.download-list>ul>li>a,
	.recruit-list>ul>li>a {
		color: #0b60a1;
	}

	.keyan-pro>ul {
		-webkit-column-count: 3;
		-webkit-column-gap: 10px;
		margin: 20px 0
	}

	.keyan-pro li {
		text-align: center;
		margin-bottom: 10px
	}

	.keyan-pro>ul>li>a,
	.keyan-solution>ul>li>a {
		color: #646464;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.keyan-pro img {
		border: 1px solid #e9e9e9;
	}

	.keyan-solution>ul {
		-webkit-column-count: 2;
		-webkit-column-gap: 10px;
		margin: 20px 0
	}

	.keyan-solution>ul>li>a {
		padding-left: 10px
	}

	.pro,
	.download,
	.news-list,
	.recruit,
	.contact,
	.guang {
		margin: 10px
	}

	.pro-r .sideTitle,
	.download .sideTitle {
		margin: 20px 0
	}

	.download-table>ul {
		overflow: hidden;
		border: 1px solid #e7e7e7;
		border-bottom: none;
	}

	.download-table>ul>li {
		height: 54px;
		line-height: 54px;
		font-size: 14px;
		color: #646464;
		border-bottom: 1px solid #e7e7e7;
		display: -webkit-box;
	}

	.download-table>ul>li>a.title {
		-webkit-box-flex: 1;
		padding-left: 20px;
		color: #646464;
		border-right: 1px solid #e7e7e7;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap
	}

	.download-table>ul>li>a.dow {
		width: 67px;
		background: url(../images/xiazai.jpg) no-repeat center;
		height: 54px;
		font-size: 0
	}

	.news-list>ul {
		overflow: hidden
	}

	.news-list>ul>li {
		color: #323232;
	}

	.news-list>ul>li .ldt {
		float: right;
		text-align: right;
		color: #666;
		line-height: 48px;
		margin-left: 10px;
	}

	.news-list>ul>li .dian {
		height: 48px;
		width: 10px;
		background: url(../images/dian.jpg);
		float: left;
	}

	.news-list>ul>li>a {
		color: #323232;
		text-decoration: none;
		margin-right: 74px;
		margin-left: 20px;
		line-height: 48px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis
	}

	.pages {
		overflow: hidden;
		text-align: right;
		padding: 10px 0 30px 0;
	}

	.pages a {
		display: inline-block;
		color: #717171;
		background: url(../images/pages.png) no-repeat -30px 0;
		margin-left: -4px;
		width: 26px;
		margin-right: 3px;
		height: 27px;
		line-height: 23px;
		font-size: 12px;
		text-align: center
	}

	.pages a.cur {
		background: url(../images/pages.png) no-repeat -60px 0;
		color: #fff;
	}

	.pages a:hover {
		background: url(../images/pages.png) no-repeat;
	}

	.recruit-r p {
		color: #646464;
		line-height: 30px;
		padding-left: 18px;
	}

	.fenlei {
		color: #646464;
		line-height: 34px;
		font-weight: 700;
	}

	.contact-l>ul>li>h2 {
		font-size: 1.4rem;
		color: #646464;
		line-height: 30px;
	}

	.contact-l>ul>li>p {
		font-size: 1.4rem;
		color: #999999;
		line-height: 30px;
	}

	.warp h2 {
		font-size: 1.6rem;
		text-align: center;
		color: #323232;
		font-weight: 700;
	}

	.news-detail {
		padding-top: 20px;
		color: #646464;
		margin: 0 10px 10px
	}

	.news-detail p {
		padding-bottom: 40px;
		line-height: 24px;
	}

	.btn-news {
		display: block;
		margin: 0 auto;
	}

	.guang>ul>li {
		color: #646464;
		line-height: 24px;
		list-style: url(../images/jt.jpg);
		padding-left: 5px;
		margin: 5px 0 5px 15px;
	}

	.guang>ul>li>a {
		color: #646464;
		font-size: 1.4rem;
	}

	.guang>ul>h2 {
		margin: 10px 0
	}

	.pro-logo {
		margin: 10px 0
	}

	.recruit-list {
		margin-bottom: 10px
	}

	.toggle-btn {
		float: right;
		font-size: 4rem;
		margin-right: 10px
	}

	.japan-table {
		border: 1px solid #cdcdcd;
		color: #646464;
		width: 100%
	}

	.japan-table td {
		padding: 5px 10px;
		border: 1px solid #cdcdcd;
	}

	.nei-table {
		border: 1px solid #cdcdcd;
		color: #646464;
		width: 100%;
		word-break: break-all;
		text-align: center;
	}

	.nei-table td {
		padding: 5px 10px;
		border: 1px solid #cdcdcd;
	}

	.productList {
		width: 100%;
		float: left;
	}

	.productList ul {
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		width: 100%;
	}

	.productList li {
		margin: 10px 0px 10px 0;
		padding: 0px;
		list-style-type: none;
		text-align: center;
		float: left;
		width: 100%;
		height: inherit;
		display: inline;
		line-height: 25px;
		overflow: hidden;
		font-size: 14px;
	}

	.productList li img {
		width: 100%;
		height: auto;
		float: left;
	}

	#qq_con {
		display: none;
	}
}